<body background=#EBDDE2>

<br><br>

<div style="text-align:center"><font size="6"><%= @angel.fullname %>, thanks for stopping by! <br><br>
	
	
	<%= @angel.company %> should consider investing in <b><font color="#ff9900">Let's Get Popcorn</font></b>!</font></div><div style="text-align:center"><i><font size="5">(and don't worry, i google myself too...)</font></i></div><div style="text-align:center"><font size="6"><br /></font></div></div></div>
	
	<table cellspacing="0"><tr>
		<td width=50% valign=top><center><font size="3"><Br><br><br><u>Our video pitch:</u> (sometimes take a second...)</font><br /><iframe width="425" height="355" src="//www.youtube.com/embed/7p-UQAeuLnM?rel=0" frameborder="0" allowFullScreen="true"></iframe><br /><font size="5"><br /></font><font size="5">Pitch Deck: </font><a href="http://bit.ly/A2wBIh" style="font-size:x-large" target="_blank">PPT</a><span style="font-size:x-large"> | </span><a href="http://bit.ly/zXlWUr" style="font-size:x-large" target="_blank">PDF</a></div><div><font size="5"><br /></font></div><div><u><font size="5">Contact</font></u></div><div><font size="4">veesh@rockingchairllc.com | 412-418-4201</font></div><div><a href="http://angel.co/let-s-get-popcorn"><font size="4">http://angel.co/let-s-get-popcorn</font></a></div><div><br /></div></div></div></center></td>
		<td><div style="text-align:left"><u><font size="3"><br><br><br>Even if you're not <%= @angel.fullname %>, we're seeking our first $50k in seed funding, please share your thoughts below...</font></u></div><div style="text-align:center"><font size="5"><div><div><div class="sites-embed-border-off sites-embed sites-embed-full-width" style="width:100%;"><div><iframe src="http://spreadsheets.google.com/spreadsheet/embeddedform?bc=transparent&amp;f=Arial%252C%2BVerdana%252C%2Bsans-serif&amp;formkey=dElvNDlPZXV1VnB5S3l2TWV6LTZUUmc6MQ&amp;hl=en&amp;htc=%2523666666&amp;lc=%2523c21d0c&amp;pli=1&amp;tc=%2523000000&amp;ttl=0" width="100%" height="600" title="Google Spreadsheet Form" allowtransparency="true" frameborder="0" marginheight="0" marginwidth="0" id="965849954"> </iframe>
</body>
</html>
